.about{
    font-size: 30px;
    background-color: rgba(255, 255, 255,0.5);
    color: black;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
    border: 3px solid #000000;
    padding: 1%;
}

.about button{
    display: flex;
    align-items: start;
    margin-top: 2%;
    margin-left: 3%;
    padding: 10px 20px;
    background-color: rgba(71, 192, 125 , 0.8);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}
