.App {
   text-align: center;
}

@font-face {
   font-family: 'rymfont';
   src: url('./Assets/Fonts/get_schwifty.ttf') format('truetype');
   /* Otras propiedades opcionales */
   font-weight: normal;
   font-style: normal;
 }

.Titulo{
   font-family: 'rymfont';
   color: rgb(227, 189, 56);
   font-size: 60px;
   margin-top:  0%;
   margin-bottom: 0%;
}
