.SearchBar{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1;
    padding: 10px;
    border: none;
    background-color: rgba(71, 192, 125 , 0.8);
    color: #000000;
    outline: none;
    font-size: 16px;
    text-align: center;
}


.SearchBarButton {
        margin-top: 1%;
        padding: 10px 20px;
        background-color: rgba(71, 192, 125 , 0.8);
        border: none;
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
}

.SearchBarButton:hover{
    transform: scale(1.1);
}

